<!DOCTYPE html>
<html>
<head>
    <title>Find Similar Picture</title>
</head>
<body>
    <h2>Find Similar Picture</h2>

    <!-- Buttons for image upload and open camera -->
    <input type="file" id="imageUpload" accept="image/*" style="display: none;" />
    <button onclick="document.getElementById('imageUpload').click()">Upload Image</button>
    <button onclick="openCamera()">Open Camera</button>
    <button id="capture" onclick="captureImage()">Capture Image</button>
    <button id="check result" onclick="checkResult()">Check Result</button>
    <!-- Video and canvas elements -->
    <video id="cameraStream" width="640" height="480" autoplay style="display: none;"></video>
    <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>

    <script>
        // Function to open the camera
        function openCamera() {
            const video = document.getElementById('cameraStream');
            video.style.display = "block";
            document.getElementById('capture').style.display = "block";

            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        video.srcObject = stream;
                    })
                    .catch(function (error) {
                        console.log("Something went wrong!");
                    });
            }
        }
        document.getElementById('imageUpload').addEventListener('change', function(event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.onloadend = function() {
                sendImage(reader.result);
            }
            reader.readAsDataURL(file);
        });

        function sendImage(imageData) {
            fetch('/save-image', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ image: imageData })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                // Redirect to the result page to show the classification
                window.location.href = '/result';
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        // Function to capture the image
        function captureImage() {
            const video = document.getElementById('cameraStream');
            const canvas = document.getElementById('canvas');
            canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
            const imageData = canvas.toDataURL('image/png');
            // Send the image data to the server
            sendImage(imageData)
            
        }
        function checkResult() {
            window.location.href = '/result';
        }

        
    </script>
</body>
</html>
